<!DOCTYPE HTML>

<html>
<head>
<title>Home</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--  <script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

	<nav class="navbar navbar-inverse" style='background-color:skyblue'>
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Laptop Store</a>
			</div>
			<ul class="nav navbar-nav">
				<li ><a href="#">Home</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Registration</a></li>
			</ul>

		</div>
	</nav>

	<div style="margin: 100px 0px 20px 600px">
	<div>
		<a href="customer"><button type="submit" class="btn btn-primary">Create Customer</button></a>
		</div>
		
		<div style='margin: 15px 0px 20px 0px'>
		<a href="order"><button type="submit" class="btn btn-primary" style= 'padding: 7px 50px 7px 9px'>Make Order</button></a>
		</div>
		
		<div style='margin: 15px 0px 20px 0px'>
		<a href="Stock"><button type="submit" class="btn btn-primary">Add New Product</button></a>
		</div>
		
		<div style='margin: 15px 0px 20px 0px'>
		<a href="stockdisplay"><button type="submit" class="btn btn-primary" style= 'padding: 7px 38px 7px 9px'>Get Product's</button></a>
		</div>
		
		<div style='margin: 15px 0px 20px 0px'>
		<a href="productByName"><button type="submit" class="btn btn-primary">Product's By Name</button></a>
		</div>
	</div>

</body>
</html>



